.breadcrumb {
	background-color: rgb(233, 236, 239, 0) !important;
	padding-left: 0 !important;
}
.breadcrumb li {
	font-size: 0.9rem;
}

.breadcrumb-item a {
	color: var(--primary-colour) !important;
}

li.breadcrumb-item.active {
	color: white !important;
}

.btn.btn-primary {
	background-color: white;
	color: var(--nav-colour) !important;
	font-size: 0.6rem;
	border-radius: 25px !important;
	border-color: 1px solid var(--nav-colour) !important;
	margin: 1em 0.5em 1em 0;
}
.title-button-line-wrap h1 {
	margin-top: 0;
	margin-bottom: 0;
}
.title-button-line-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 1em;
}

.img-fluid {
	width: 100%;
	min-height: 260px;
	background-color: var(--background-dark);
	border-radius: 20px;
}
.container-fluid.image-wrap {
	position: relative;
	padding: 0;
	margin-bottom: 2rem;
	text-align: left;
}

.img-text {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--background-dark) !important;
	color: white;
	padding: 1rem;
	margin-bottom: 0;
}
.details-container {
	background-color: var(--background-dark);
	text-align: left;
}

.main-content-wrap {
	max-width: 90%;
}
.col-md h5 {
	color: var(--primary-colour);
}
.col-md p {
	font-size: 0.9rem;
}

.list-group-item {
	border-bottom: none;
}

.list-group-item i {
	font-size: 1.2rem;
	padding-right: 1.2rem;
}

.col-list ul li {
	background-color: rgb(233, 236, 239, 0);
	padding: 0.5rem 0;
}

@media (min-width: 680px) {
	.row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 1rem;
		margin: 0 auto;
	}

	.col-list ul {
		margin-left: 2rem;
	}
	.row.col-md {
		padding: 0;
	}
	.row.col-md.col-list {
		padding: 0;
	}
}
